<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.qashsolutions.HealthGuide</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>careguide</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.healthguide.checkSchedule</string>
		<string>com.healthguide.checkNextDose</string>
		<string>com.healthguide.viewMedication</string>
		<string>com.healthguide.scheduleMedication</string>
		<string>com.healthguide.setReminder</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Careguide sends notifications to remind you about medication doses and health appointments.</string>
	<key>NSCameraUsageDescription</key>
	<string>Careguide needs camera access to capture photos of your medical documents for easy storage and reference.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Careguide needs microphone access to help you record memos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Do you want to allow &quot;Careguide&quot; to use Face ID?</string>
	<!-- Custom fonts removed - using system fonts only -->
	<!-- <key>UIAppFonts</key>
	<array>
	</array> -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.healthguide</string>
	</array>
</dict>
</plist>
